<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body id="detailsBody">
    <header>
        <header></header>
    </header>
    <main id="detailsMain">
        <form action="/detail/<%=result.id%>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%=result.name%>"><br>
            <input type="text" name="img" value="<%=result.img%>"><br>
            <input type="text" name="level" value="<%=result.level%>"><br>
            <button type="submit">Update</button>
        </form><br>
        <form action="/delete/<%=result.id%>?_method=DELETE" method="POST">
            <button type="submit">DELETE</button>
        </form>
    </main>
</body>
</html>